html, body, .container{
    min-height: 100%;

    font-family: "san-serif", "tahoma";
}

body{
  margin: 0;
  background-color: #eee9e9;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C63D0F;
}

.navBar li {
    float: left;
    border-right:1px solid #D4D4D4;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navBar li a:hover:not(#active) {
    background-color: #3B3738;
}

li.dropdown {
    display: inline-block;
}

#active {
    background-color: #3B3738;
}

.title{
  font-size: 75px;
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: #3B3738;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.anHoaNguyen{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  height: 350px;
  border-bottom: 3px solid #3B3738;
}

.anHoaNguyen h2{
  text-align: left;
  margin-top: 0;
}

.anHoaNguyen p{
  line-height: 150%;
  text-align: left;
  margin-top: 0;
  font-size: 24px;
  float: left;
  width: 500px;
}

.anHoaNguyen img{
  position: relative;
  margin-top: -50;
  margin-left: 50px;
  float: left;
  width: 25%;
  height: auto;
}

.maraikaLumholdt{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 350px;
  border-bottom: 3px solid #3B3738;
}

.maraikaLumholdt h2{
  margin-top: 0;
  margin-right: 320px;
}

.maraikaLumholdt p{
  line-height: 150%;
  text-align: left;
  margin-top: 0;
  margin-left: 50px;
  font-size: 24px;
  float: left;
  width: 500px;
}

.maraikaLumholdt img{
  position: relative;
  margin-top: 0;

  float: left;
  width: 23%;
  height: auto;
}

.elissaSeverseike{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 400px;
  border-bottom: 3px solid #3B3738;
}

.elissaSeverseike h2{
  text-align: left;
  margin-top: 0;
}

.elissaSeverseike p{
  line-height: 150%;
  text-align: left;
  margin-top: 0;
  font-size: 24px;
  float: left;
  width: 500px;
}

.elissaSeverseike img{
  position: relative;
  margin-left: 50px;
  float: left;
  width: 25%;
  height: auto;
}

.footer{
  background-color: #C63D0F;
  height: 60px;
  left: 0;
  width: 100%;
  position: static;
  bottom: 0;
}
