html, body, .container{
    min-height: 100%;

    font-family: "san-serif", "tahoma";
}

body{
  margin: 0;
  background-color: #eee9e9;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C63D0F;
}

.navBar li {
    float: left;
    border-right:1px solid #D4D4D4;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navBar li a:hover:not(#active) {
    background-color: #3B3738;
}

#active {
    background-color: #3B3738;
}

.title{
  font-size: 75px;
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: #3B3738;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.introImg{
  width: 55%;
  height: auto;
  border: 2px solid #3B3738;
}

.intro{
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.introP{
  font-size: 24px;
  line-height: 150%;
}

.footer{
  background-color: #C63D0F;
  height: 60px;
  left: 0;
  width: 100%;
  bottom: 0;
}
