html, body, .container{
    min-height: 100%;

    font-family: "san-serif", "tahoma";
}

body{
  margin: 0;
  background-color: #eee9e9;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C63D0F;
}

.navBar li {
    float: left;
    border-right:1px solid #D4D4D4;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navBar li a:hover:not(#active) {
    background-color: #3B3738;
}

li.dropdown {
    display: inline-block;
}

#active {
    background-color: #3B3738;
}

.title{
    font-size: 75px;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: #3B3738;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.content{
    display: flex;

}

.content > a  {
  flex: 1;
}

.content a{
  text-decoration: none;
}
.contentDiv{
  background-color: black;
  border-radius: 10px;
  height: 150%;
  margin: 25px;
  margin-top: 50px;
  transition: 1s ease;
}

.contentDiv:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}

 #utopia{
   background-image: url("../media/utopia.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }

#cyberUtopianism{
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 15px;
}

#google{
  background-image: url("../media/google.png");
  background-size: 100% 70%;
  background-position: 0px 50px;
  background-repeat: no-repeat;
}

#googleDoctrine{
   text-align: center;
   color: white;
   font-size: 24px;
   padding-top: 15px;
}

#censorship{
  background-image: url("../media/censorship.png");
  background-size: 100% 80%;
  background-position: 0px 70px;
  background-repeat: no-repeat;
}

#internetCensorship{
   text-align: center;
   color: white;
   font-size: 24px;
   padding-top: 15px;
}

#activism{
  background-image: url("../media/activism.png");
  background-size: 100% 80%;
  background-position: 0px 50px;
  background-repeat: no-repeat;
}

#digitalActivism{
   text-align: center;
   color: white;
   font-size: 24px;
   padding-top: 15px;
}

#fourth{
  background-image: url("../media/fourth.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#fourthEstate{
   text-align: center;
   color: white;
   font-size: 24px;
   padding-top: 10px;
}

.footer{
  background-color: #C63D0F;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
