html, body, .container{
    min-height: 100%;

    font-family: "san-serif", "tahoma";
}

body{
  margin: 0;
  background-color: #eee9e9;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C63D0F;
}

.navBar li {
    float: left;
    border-right:1px solid #D4D4D4;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navBar li a:hover:not(#active) {
    background-color: #3B3738;
}

li.dropdown {
    display: inline-block;
}

.title{
  font-size: 75px;
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: #3B3738;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.content{
    margin-top: 100px;
}

.content h2{
    text-align: left;
    width: 55%;
}

.content p {
  line-height: 150%;
  width: 55%;
  font-size: 24px;
  text-align: left;
}

.content ul li{
  line-height: 150%;
  width: 55%;
  font-size: 24px;
  text-align: left;

}

.content img{
  width: 55%;
  height: auto;
}

blockquote{
  width: 55%;
  height: auto;
}

.content figcaption{
  width: 55%;
  height: auto;
  text-align: left;
}

.link{
  font-size: 12px;
}

.worksCited{
    text-align: center !important;
}

.quote{
  margin-left: 4em;
  font-size: 20px !important;
}

.footer{
  background-color: #C63D0F;
  height: 60px;
  left: 0;
  width: 100%;
  position: static;
  bottom: 0;
}
